body {
    background-color: #010165;
    margin: 0px;
  }
  .container{
    width: 100%;

  }
  .header{
    background-color: #00ffff;
    text-align: center;
    font-size: 5rem;
  }
  .title-row{
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
  }
  .title-row img{
    width: 2.5rem;
    height: 2.5rem;
  }
  .instructions-title{
    display: inline;
    font-size: 4rem;
    color: #00ffff;
    font-family: 'Work Sans';
    height: auto;
  }
  .instructions-row{
    margin: 0 auto;
    width: 70%;
  }
  .instructions-number{
    padding-right: 25px;
    font-family: 'Work Sans';
    font-size: 4rem;
    color: #00ffff;
  }
  .instructions-text{
    padding: 10px;
    font-family: 'Work Sans';
    font-size: 1.8rem;
    color: #ffffff;
  }
  .door-row{
    text-align: center;
  }
  .door-frame {
    cursor: pointer;
    padding: 2rem;
    width: 15%;
  }
  .start-row{
    margin: 5rem 8rem;
    width: auto;
    height: auto;
    font-family: 'Work Sans';
    background-color: #eb6536;
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    color: #010165;
    margin-bottom: 21px;
    cursor: pointer;
  }
  